.nav-pills {
  border: 1px solid #ddd;
  margin-bottom: 1em; }

.navbar {
  margin: 0 !important; }

.nav-tabs {
  border-bottom: none !important; }

/* .nav-tabs a {
  color: $sponge_dark_yellow !important;
} */
.jumbotron {
  background-image: url(../../assets/img/backgrounds/index-background.jpg);
  margin-left: 0 !important;
  margin-right: 0 !important; }

html {
  font-family: "Lato",sans-serif !important; }

.content {
  border: 1px #ddd solid;
  margin-left: 0;
  margin-right: 0; }

.content div:last-child {
  margin-bottom: 2em; }

footer {
  margin-top: 3em;
  padding: 1em 0;
  background-color: #E6E6E6; }
