footer {
  color: #fff;

  h3 {
    margin-bottom: 30px;
  }

  .footer-above {
    background-color: $grey;
    padding-top: 50px;
  }

  .footer-col {
    margin-bottom: 50px;

    p {
      font-weight: 100;
    }
  }

  .footer-below {
    background-color: #262626;
    padding: 15px 0;

    .row div {
      font-size: 0.8em;
      text-align: left;
    }
  }
}
