// brandcolors
$yellow: #f7cf0d ;  //yellow
$darkyellow: #917300 ;  //dark yellow

$grey: #333333; //20% grey
$darkgrey: #2b2b2b; //dark grey

@import "spongebootstrap";

@import "base";
@import "header";
@import "topbar";
@import "section";
@import "footer";

@import "homepage";
@import "sponsors";
