{% extends "base.html" %}

{% block links %}
<div class="page-scroll"><a href="/#announcements">Announcements</a></div>
<div class="page-scroll"><a href="/#downloads">Downloads</a></div>
<div class="page-scroll"><a href="/#sponsors">Sponsors</a></div>
<div class="page-scroll"><a href="/#about">About</a></div>
<div class="page-scroll"><a href="/#social">Social</a></div>

<div><a href="#sponsors-content">Sponsor Us</a></div>
{% endblock %}

{% block content %}
<!-- IRC Section -->
<section class="irc" id="irc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img class="img-responsive" style="margin:20px auto 0" src="/assets/img/icons/spongie-mark.png" alt="Spongie">
                <h1>SpongePowered</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <iframe src="https://kiwiirc.com/client/irc.esper.net:+6697/?nick=sponge|?#sponge" style="border:0; width:100%; height:600px;"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}
